apiVersion: v1
kind: Namespace
metadata:
  name: backstage
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: red-hat-developer-hub
  namespace: backstage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backstage
  template:
    metadata:
      labels:
        app: backstage
    spec:
      serviceAccountName: backstage-sa
      securityContext:
        runAsUser: 1000
      containers:
        - name: backstage
          image: quay.io/rhdh/developer-hub-rhel9:1.0-8
          env:
            - name: GH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: backstage-secret
                  key: GH_TOKEN
            - name: GH_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: backstage-secret
                  key: GH_CLIENT_ID
            - name: GH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: backstage-secret
                  key: GH_CLIENT_SECRET
            - name: ARGO_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: backstage-secret
                  key: ARGO_API_TOKEN
          securityContext:
            allowPrivilegeEscalation: true
          ports:
            - name: http
              containerPort: 7007
          volumeMounts:
            - name: app-config
              mountPath: /app/app-config-from-configmap.yaml
              subPath: app-config.yaml
          args:
            - '--config'
            - /app/app-config-from-configmap.yaml
      imagePullSecrets:
      - name: rhdh-pull-secret
      volumes:
      - name: app-config
        configMap:
          name: app-config
          items: 
            - key: app-config.yaml
              path: app-config.yaml
---
apiVersion: v1
kind: Service
metadata:
  name: backstage-service
  namespace: backstage
spec:
  selector:
    app: backstage
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: http #4180
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: backstage-route
  namespace: backstage
spec:
  to:
    kind: Service
    name: backstage-service
  port:
    targetPort: http
  tls:
    termination: edge

