apiVersion: v1
kind: Namespace
metadata:
  name: backstage
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backstage-deployment
  namespace: backstage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backstage
  template:
    metadata:
      labels:
        app: backstage
    spec:
      serviceAccountName: backstage-sa
      securityContext:
        runAsUser: 1000
      containers:
        - name: backstage
          image: quay.io/feven/backstage:latest
          securityContext:
            allowPrivilegeEscalation: true
          ports:
            - name: http
              containerPort: 7007
---
apiVersion: v1
kind: Service
metadata:
  name: backstage-service
  namespace: backstage
spec:
  selector:
    app: backstage
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: http
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: backstage-route
  namespace: backstage
spec:
  to:
    kind: Service
    name: backstage-service
  port:
    targetPort: http
  tls:
    termination: edge

