apiVersion: v1
kind: Namespace
metadata:
  name: backstage
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backstage-deployment
  namespace: backstage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backstage
  template:
    metadata:
      labels:
        app: backstage
    spec:
      serviceAccountName: backstage-sa
      securityContext:
        runAsUser: 1000
      containers:
        - resources: {}
          terminationMessagePath: /dev/termination-log
          name: janus-dev-oauth-proxy
          env:
            - name: OAUTH2_PROXY_CLIENT_ID
              value: "client-secret"
            - name: OAUTH2_PROXY_CLIENT_SECRET
              value: "client-secret"
            - name: OAUTH2_PROXY_COOKIE_SECRET
              value: "YnRnZWJ3bXF1ZXNrdWFtZWN5cHZic2VmaHl4b3Fxc2k="
            - name: OAUTH2_PROXY_OIDC_ISSUER_URL
              value: >-
                https://keycloak-sso.apps.cluster-8plkk.8plkk.sandbox1485.opentlc.com/auth/realms/basic
          securityContext:
            capabilities:
              drop:
                - ALL
            runAsUser: 1000760000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
          ports:
            - containerPort: 4180
              protocol: TCP
          imagePullPolicy: Always
          terminationMessagePolicy: File
          image: 'quay.io/oauth2-proxy/oauth2-proxy:latest'
          args:
            - '--provider=oidc'
            - '--email-domain=*'
            - '--upstream=http://localhost:7007'
            - '--http-address=0.0.0.0:4180'
            - '--skip-provider-button'
        - name: backstage
          image: quay.io/feven/backstage:latest
          securityContext:
            allowPrivilegeEscalation: true
          ports:
            - name: http
              containerPort: 7007
          volumeMounts:
            - name: app-config
              mountPath: /app/app-config.yaml
              subPath: app-config.yaml
      volumes:
      - name: app-config
        configMap:
          name: app-config
          items: 
            - key: app-config.yaml
              path: app-config.yaml
---
apiVersion: v1
kind: Service
metadata:
  name: backstage-service
  namespace: backstage
spec:
  selector:
    app: backstage
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: http
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: backstage-route
  namespace: backstage
spec:
  to:
    kind: Service
    name: backstage-service
  port:
    targetPort: http
  tls:
    termination: edge

